html {
    height: 100%;
    width:100%;
}

body {
    margin: 0 auto;
    font-family: 'Helvetica Neue';
    background: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: relative;
}

#wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 500px;
    height: 10%; 
    padding: 15px;
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position: absolute;
    background-color: #0CDB4A;
    box-sizing: border-box;
    z-index: 10;
} 

a {
    color: #F7F5F5;
    text-decoration: none;
}

#logo-box { 
    font-family: 'Helvetica Neue';
    justify-content: center;  
    position: relative;
    height: 150px;
    width: 600px;
    padding-bottom: 15px;
}

#logo-text {
    color: #F7F5F5;
    font-style: italic;
    font-size: 125px;
    position: absolute;
    
}

/*image w/ z-index of -1, will be placed behind the text */
#logo-img {
    position: absolute;
    margin-left: 375px;
    margin-top: -30px;
    z-index: -1;
}

a:hover {
    text-decoration: none;
    color: white;
    font-size: 19.5px;
}

.footer {
   position: fixed;
   bottom: 40px;
   width: 100%;
   font-size: 12px;
   background-color:transparent;
   color: #F7F5F5;
   text-align: center;
}

/*added code for Responsive Portfolio*/

@media only screen and (max-width: 480px){
    .navbar {
        font-size: 25px;
        width: 580px;
        padding: 10;
    }
    #logo-box { 
        padding-left: 50px;
    }
    #logo-text {
        font-size: 90px;
        margin-top: 80px;         
    }  
    #logo-img {
        margin-left: 260px;
        margin-top: 30px;    
    }  
    .footer {
        font-size: 18px;
    }
}